@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
header{
    background-color: #030100;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #f0f0f0;
    font-weight: 700;
    font-size: 1.5em;
}
.navigation a{
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 30px;

}
.navigation a:hover{color: #7f0fdb;}

section{
    padding: 100px 200px;    
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-clip: url(images/background.mp4) no-repeat;;
    animation-play-state: running;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#background-video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
.main h2{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span {
    display: inline-block;
    margin-top: 2px;
    color: #7f0fdb;
    font-size: 3em;
    font-weight: 600;
}
.main h3 {
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn {
    color: #f0f0f0;
    background-color: #7f0fdb;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #610aa8;
    transform: scale(1.1);
}
.Social-icons a {
    color: #f0f0f0;
    font-size: 1.7em;
    padding-right: 30px;
}
.cards {
    background-color: #ffffff;
    margin-bottom: 200px;
}
.title {
    display: flex;
    justify-content: center;
    color: #7f0fdb;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: #f0f0f0;
    width: 21.25em ;
    box-shadow: 0 5px 25px rgba(1 1 1/ 20%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon {
    color: #610aa8;
    font-size: 8em;
    text-align: center;

}
.info {text-align: center;

}
.info h3{
    color: #610aa8;
    
    margin: 10px;
}
.cards-project {
    background-color: #f0f0f0;
}